@tailwind base;
@tailwind components;
@tailwind utilities;

html {
	scroll-behavior: smooth;
	overflow-x: hidden;
}

#mic_button {
	font-size: 300px;
}

.chat_answer {
	max-width: 80%;
	text-align: center;
	margin: 0 auto;
	font-family: inherit;
}
.chat_answer:after {
	content: "|";
	margin-left: 5px;
	opacity: 1;
	animation: blink 0.7s infinite;
}


@keyframes blink {
	0%,
	100% {
		opacity: 1;
	}
	50% {
		opacity: 0;
	}
}
